node_modules
.env
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache
.cache
dist
build

# Netlify
.netlify
netlify-cms/
.netlify-cache/
.env.local
.netlify-build/

# Local Netlify folder
.netlify/
