MONGODB_URI="mongodb+srv://<username>:<Password>@todo.f9czfzp.mongodb.net/ToDoList?retryWrites=true&w=majority&appName=ToDo"
EMAIL_USER="example@gmail.com"
EMAIL_PASS="**************"[Email password or pass key]
JWT_SECRET=Secret_code_for_encryption
 
